@import "variables";

h1 {
  margin-top: 0px;
}

header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: -8px -8px 0 -8px;

  .logo {
    margin-left: 10px;

    img {
      border-radius: 4px;
    }
  }

  nav#menu {

    ul {
      display: inline;
      padding: 10px;
      margin-left: 10px;

      li {
        display: inline;

        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }
  }
}

#content {
  width: $desktop-small-width;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-flow: row;
  justify-content: left;
  column-gap: 30px;
  padding: 10px;

  .main {
    width: auto;
    max-width: $content-width;
    flex: 1 1 auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
  }

  .side {
    width: 240px;
    flex: 0 0 auto;
  }

  .page-source {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

footer {
  max-width: $desktop-small-width;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-flow: row;

  .copyright {
    flex: 1 0 auto;
  }
}

.highlight {
  padding: 0 10px;
  overflow-x: auto;
}

.pagination {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 2px;

  .entry {
    padding: 10px 15px;
    border-radius: 4px;
    border: transparent 1px solid;
    box-sizing: border-box;
  }

}

@media (max-width: $desktop-small-width) {
  #content {
    width: auto;
    flex-flow: column;
    justify-content: unset;
    align-items: center;

    .main {
      width: 100%;
      flex: 1 0 auto;
    }

    .side {
      width: 100%;
      flex: 1 0 auto;
      max-width: $content-width;
    }
  }

  footer {
    max-width: $content-width;
  }
}

@media (min-width: $desktop-large-width) {
  #content {
    width: $desktop-large-width;

    .main {
      max-width: $content-large-width;
    }
  }
  footer {
    max-width: $desktop-large-width;
  }
}